.product {
  position: relative;
  width: 115px;
  height: 250px;
  background-color: var(--backGroundColor);
  border-radius: 20px;
  padding-bottom: 10px;
  margin: 0 5px;
  user-select: none;
}

.productName {
  font-size: 14px;
  padding: 0 5px;
}

.productPrice {
  font-weight: 500;
  font-size: 14px;
  padding: 0 5px;
}

.productPrice span {
  font-size: 18px;
  color: var(--orangeColor);
}

.productPrice del {
  color: var(--grayColor);
}

.productQuantity {
  font-size: 12px;
  padding: 0 5px;
  margin-bottom: 30px;
}

.addButton {
  display: block;
}

.productImage {
  border-radius: 20px;
  width: 100%;
  height: 115px;
  object-fit: cover;
}

.productButtons {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: row;
  user-select: none;
  background-color: white;
  margin: 0 5px;
  border-radius: 15px;
  align-items: center;
}

.addButton,
.removeButton {
  border: none;
  border-radius: 1px;
  background-color: transparent;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 540px) {

}