.cart {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cartTitle {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-left: -25px;
  flex-grow: 1;
}

.link {
  display: block;
  z-index: 1;
}

.store {
  margin-bottom: 20px;
  display: none;
}

.storeActive {
  display: block;
}

.storeName {
  padding-left: 10px;
  margin-bottom: 10px;
}

.cartButton {
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 20px;
  color: white;
  background-color: var(--darkColor);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  user-select: none;
}

.cartTabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  user-select: none;
  padding-left: 10px;
}

.cartTab {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid var(--backGroundColor);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 2px var(--backGroundColor), 0px 2px 16px var(--backGroundColor);
}

.cartTabActive {
  background-color: var(--buttonColor);
} 

.orderHeader {
  display: flex;
  justify-content: space-between;
}

.orderTitle {
  padding-left: 20px;
  margin-bottom: 10px;
}

.orderTrash {
  cursor: pointer;
}