.place {
  padding: 0 10px;
  width: max-content;
  user-select: none;
}

.placeName {
  font-size: 14px;
  padding: 0 5px;
}

.placeAddress {
  font-weight: 300;
  font-size: 12px;
  padding: 0 5px;
}

.placeImage {
  border-radius: 20px;
  width: 125px;
  height: 75px;
  object-fit: cover;
}

@media (min-width: 540px) {
  .placeImage {
    width: 200px;
    height: 125px;
  }
}