.slider__wrapper {
  position: relative;
}

.slider__button-prev,
.slider__button-next {
  display: none;
  position: absolute;
  top: 40%;
  z-index: 99;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 3px 3px 5px var(--grayColor);
  cursor: pointer;
  background-color: white;
  border: none;
}

.slider__button-prev:disabled,
.slider__button-next:disabled {  
  display: none;
}

.slider__button-prev {
  left: 25px;
  translate: -50% -50%;
}

.slider__button-next {
  right: 20px;
  translate: 50% -50%;
}

.swiper-slide { 
  width: fit-content!important;
}

@media (min-width: 540px) {
  .slider__button-prev,
  .slider__button-next {
    display: flex;
  }
}
