.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

@media screen and (width > 500px) {
  .header {
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
}