.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 1440px;
  border-bottom: 1px solid var(--grayColor);
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-weight: 700;
}

.logo span {
  color: var(--primaryColor);
}

.search {
  padding: 10px;
  border: none;
  border-radius: 15px;
  justify-self: flex-end;
  width: 100%;
  max-width: 250px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--grayColor);
  padding: 5px 10px;
  border-radius: 20px;
  grid-column: -1 / -2;
  grid-row: 1 / 2;
  max-width: fit-content;
  justify-self: flex-end;
}

.cartImage {
  width: 20px;
  height: 20px;
}

.cartCount {
  font-size: 14px;
}

@media screen and (width > 540px) {
  .logo {
    font-size: 20px;
  }

  .logo img {
    width: 150px;
    height: 65px;
  }

  .cartCount {
    font-size: 18px;
  }
}