.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  max-width: 1440px;
  border-bottom: 1px solid var(--grayColor);
  margin-left: auto;
  margin-right: auto;
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--grayColor);
  padding: 5px 10px;
  border-radius: 20px;
}

.cartCount {
  
}

@media screen and (width > 540px) {
  .header {
    padding: 20px;
  }
}