.place {
  padding-top: 20px;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.placeName {
  padding: 0 10px;
}

.category {
  margin-bottom: 20px;
}

.categoryTitle {
  padding: 0 15px;
  margin-bottom: 10px;
}