.slider {

}

.slider__wrapper {
  position: relative;
}

.slider__button-prev,
.slider__button-next {
  display: none;
  position: absolute;
  top: 40%;
  z-index: 99;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--grayColor);
  cursor: pointer;
  background-color: white;
}

.slider__button-next {
  right: 5px;
}


.slider__button-prev:disabled,
.slider__button-next:disabled {  
  display: none;
}

.slider__button-prev {
  left: 0;
  translate: -50% -50%;
}

.slider__button-next {
  right: 0;
  translate: 50% -50%;
}

.swiper-slide { 
  width: fit-content!important;
}

.place {
  padding: 0 5px;
  width: max-content;
}

.placeImage {
  border-radius: 20px;
}

.placeName {
  padding: 0;
  font-size: 14px;
}

.placeAddress {
  font-weight: 300;
  font-size: 12px;
}

@media (min-width: 540px) {
  .slider__button-prev,
  .slider__button-next {
    display: flex;
  }

  .placeImage {
    width: 200px;
    height: 125px;
  }
}
